@tailwind base;
@tailwind components;
@tailwind utilities;

/* USPS custom colors */
@layer base {
  :root {
    --usps-blue: #004B87;
    --usps-red: #E71921;
    --usps-gray: #F3F4F6;
  }
}

.bg-uspsBlue { background-color: var(--usps-blue); }
.text-uspsBlue { color: var(--usps-blue); }
.bg-uspsRed { background-color: var(--usps-red); }
.text-uspsRed { color: var(--usps-red); }
.bg-uspsGray { background-color: var(--usps-gray); }
